.header {
	height: 76px;

	@media screen and (max-width: 991px) {
		height: auto;
	}

	@media screen and (min-width: 992px) {
		&.show {
			margin-bottom: 70px;
		}
	}

	.navbar {
		height: 100%;
		padding: 0;
		background-color: $branco;

		@media screen and (max-width: 991px) {
			padding: 4px 0;
		}
	

		.container {
			height: 100%;

			.navbar-brand {
				outline: none;

				img {
					width: 210px;
					height: 47px;

					@media screen and (max-width: 991px) {
						width: 136px;
						height: 30px;
					}
				}
			}

			.navbar-menu {
				display: flex;
				align-items: center;
				height: 100%;

				.navbar-toggler {
					margin-left: 8px;
					background-color: transparent;
					border: none;
					outline: none;

					&:focus {
						text-decoration: none;
						outline: 0;
						box-shadow: 0 0 0 0;
					}

					.menu-button {
						cursor: pointer;
						-webkit-transition: 0.3s;
						transition: 0.3s;

						.bar {
							position: relative;
							display: block;
							width: 30px;
							height: 3px;
							margin: 6px auto;
							background-color: #0C1707;
							border-radius: 10px;
							-webkit-transition: 0.3s;
							transition: 0.3s;

							&:nth-of-type(1) {
								margin-top: 0px;
							}

							&:nth-of-type(3) {
								margin-bottom: 0px;
							}
						}

						&.cross {
							.bar {
								&:nth-of-type(1) {
									-webkit-transform: translateY(9px) rotate(-40deg);
									-ms-transform: translateY(9px) rotate(-40deg);
									transform: translateY(9px) rotate(-40deg);
								}
	
								&:nth-of-type(2) {
									opacity: 0;
								}
	
								&:nth-of-type(3) {
									-webkit-transform: translateY(-9px) rotate(40deg);
									-ms-transform: translateY(-9px) rotate(40deg);
									transform: translateY(-9px) rotate(40deg);
								}
							}
						}
					}
				}

				.navbar-collapse {
					height: 100%;

					.navbar-nav {
						height: 100%;

						@media screen and (max-width: 991px) {
							box-shadow: 0px -4px 10px rgba(18, 18, 18, 0.2);
							margin: 0 !important;
						}

						.nav-item {
							height: 100%;
							cursor: pointer;
							
							&.dropdown-open {
								.nav-link {
									&.active {
										@media screen and (max-width: 991px) {
											border-bottom: none;
										}
									}
								}

							}

							.nav-link {
								height: 100%;
								display: flex;
								align-items: center;
								font-family: 'Inter';
								font-style: normal;
								font-weight: 500;
								font-size: 20px;
								line-height: 24px;
								color: $cinza-escuro;
								padding: 8px 12px;

								@media screen and (max-width: 991px) {
									color: $primaria;
									font-size: 18px;
									line-height: 22px;
									padding: 12px 24px;
									font-weight: 700;
									border-bottom: 1px solid #D9D9D9;
									display: flex;
									justify-content: space-between;
								}

								.mobile {
									display: none;
									-webkit-transition: 0.3s;
									transition: 0.3s;

									@media screen and (max-width: 991px) {
										display: block;
									}

									&.expand {
										-webkit-transform: rotate(180deg);
										-ms-transform: rotate(180deg);
										transform: rotate(180deg);
									}
								}

								&.active, &.show, &:hover, &:focus {
									@media screen and (min-width: 992px) {
										border-bottom: 5px solid $primaria;
										position: relative;
										border-bottom: none;
	
										&:after {
											content: "";
											position: absolute;
											width: 100%;
											height: 8px;
											background: $primaria;
											border-radius: 16px 16px 0px 0px;
											bottom: 0;
											left: 0;
										}
									}
								}

								&.active {
									@media screen and (max-width: 991px) {
										border-bottom: 4px solid $primaria;
									}
								}
							}
						}
						
						.dropdown-menu {
							position: absolute;
							width: 100%;
							height: 70px;
							margin: 0;
							border: none;
							border-radius: 0;
							background-color: $primaria;

							@media screen and (max-width: 991px) {
								// position: initial;
								width: 100%;
								height: auto;
							}

							.container {
								display: flex;
								justify-content: flex-end;
								align-items: center;
								height: initial;

								@media screen and (max-width: 991px) {
									display: block;
									width: 100%;
									padding: 0;	
								}
							}

							li {
								height: auto;

								.dropdown-item  {
									font-family: 'Inter';
									font-style: normal;
									font-weight: 400;
									font-size: 20px;
									line-height: 24px;
									color: $cinza-escuro;
									background: transparent;

									&.active, &:hover, &:focus {
										background-color: transparent;
										font-weight: 700;

										@media screen and (max-width: 991px) {
											border-bottom: 4px solid $preto;
										}
									}

									@media screen and (max-width: 991px) {
										padding: 12px 24px;
										font-weight: 700;
										font-size: 18px;
										border-bottom: 1px solid #D9D9D9;

										&::before {
											position: relative;
											content: "-";
											margin-right: 8px;
										}
									}
								}
							}
							
							&.show {
								display: flex;
								justify-content: flex-end;
								left: 0;

								@media screen and (max-width: 991px) {
									display: block;
									position: relative;
									padding: 0;
								}
							}
						}
					}

					@media screen and (max-width: 991px) {
						position: absolute;
						width: 100%;
						left: 0;
						background: $branco;
						height: auto;
						top: 100%;
						z-index: 10;
					}
				}

				.navbar-button-client {
					margin-left: 12px;
					background-color: $primaria;
					color: $branco;
					font-family: 'Inter';
					font-style: normal;
					font-weight: 700;
					font-size: 20px;
					line-height: 24px;
					height: 50px;
					padding: 0 30px;
					border-radius: 4px;
					border: none;
					outline: none;

					@media screen and (max-width: 991px){
						font-size: 12px;
						line-height: 15px;
						padding: 4px 10px;
						height: 25px;
					}
				}
			}
		}
	}
}