.home {
	padding: 50px 0;

	@media screen and (max-width: 767px) {
		padding: 24px 0;
	}

	.home-doing {
		margin-bottom: 50px;

		@media screen and (max-width: 767px) {
			margin-bottom: 16px;
		}

		p {
			font-weight: 500;
			font-size: 24px;
			line-height: 29px;
			letter-spacing: -0.01em;
			color: #3D3D3D;
			padding-bottom: 16px;

			@media screen and (max-width: 767px) {
				font-size: 16px;
				line-height: 19px;
			}
		}

		.box-what-doing {
			position: relative;

			.swiper-doing {
				background: transparent;
			
				.swiper-wrapper {
					padding: 30px 0;
					box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.2);

					@media screen and (max-width: 991px) {
						box-shadow: none;
						padding: 0;
					}
					
					.swiper-slide {
						box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.2);
						border-radius: 16px;
						padding: 24px;
						min-height: 310px;
						background: url("../images/marca-dagua-peach.png") #65B343 right bottom no-repeat;

						@media screen and (max-width: 991px) {
							box-shadow: none;
						}

						.box-doing {
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							align-items: flex-start;
			
							h5 {
								font-weight: 700;
								font-size: 36px;
								line-height: 44px;
								letter-spacing: -0.01em;
								color: #F2FAEF;
								height: 90px;
								margin-bottom: 16px;
							}
			
							p {
								font-weight: 400;
								font-size: 16px;
								line-height: 19px;
								letter-spacing: -0.01em;
								color: #F2FAEF;
								margin-bottom: 24px;
							}
						}
					}
				}
			}
		}
	}

	.home-we {
		.box-border {
			margin: 50px 0;

			.row {
				@media screen and (max-width: 767px) {
					flex-direction: column-reverse;
				}
			}
		}
	}

	.home-projects {
		p {
			font-weight: 500;
			font-size: 24px;
			line-height: 29px;
			letter-spacing: -0.01em;
			color: #3D3D3D;
			padding-bottom: 16px;

			@media screen and (max-width: 767px) {
				font-size: 16px;
				line-height: 19px;
			}
		}
		
		.projects {
			.projects-bg {
				background-color: $branco;
				padding: 50px 0;
	
				@media screen and (max-width: 991px) {
					padding: 24px 0;
				}

				.swiper-projects {
					width: 100%;
					height: 170px;
	
					@media screen and (max-width: 991px) {
						height: 320px;
					}
			
					.swiper-slide {
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
	
						@media screen and (max-width: 991px) {
							height: calc((100% - 30px) / 2) !important;
						}
					}
	
					.swiper-button-next-projects, .swiper-button-prev-projects {
						@media screen and (max-width: 991px) {
							display: none;
						}
					}
				}
			}

			.swiper-pagination-slider-projects {
				display: none;

				@media screen and (max-width: 991px) {
					display: block;
				}
			}
		}
	}


	.home-clients {
		padding: 50px 30px;

		h1 {
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 44px;
			color: $preto;

			@media screen and (max-width: 767px) {
				font-size: 28px;
				line-height: 34px;
			}
		}

		.client-depoiment {
			padding: 24px 32px;

			.linha {
				.linha-1 {
					text-align: left;

					@media screen and (max-width: 767px) {
						margin-bottom: 24px;
					}

					img {
						max-width: 100%;
						border-radius: 100%;
					}

					p {
						font-weight: 500;
						font-size: 24px;
						line-height: 29px;
						color: $preto;

						@media screen and (max-width: 767px) {
							font-size: 20px;
							line-height: 24px;
						}
					}
				}

				.linha-2 {
					text-align: left;

					p {
						font-weight: 400;
						font-size: 24px;
						line-height: 29px;
						color: #0C1707;
						margin-bottom: 16px;

						&:last-of-type {
							margin-bottom: 24px;
						}

						@media screen and (max-width: 767px) {
							font-size: 16px;
							line-height: 19px;
						}
					}
				}
			}
		}
	}
}


.semi-footer {
	padding: 50px 0;
	padding-bottom: 100px;

	@media screen and (max-width: 991px) {
		padding: 50px 30px 50px 20px;
	}

	.box-semi-footer {
		position: relative;
		background-color: $branco;
		border-radius: 50px;
		padding: 40px;

		h4 {
			font-weight: 700;
			font-size: 36px;
			line-height: 44px;
			color: $cinza-escuro;
			padding-bottom: 8px;

			@media screen and (max-width: 991px) {
				font-size: 28px;
				line-height: 34px;
			}
		}

		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			color: $preto;

			@media screen and (max-width: 991px) {
				padding-bottom: 24px;
			}

			a {
				color: #465EFF;
				text-decoration: none;
				font-weight: 700;
			}
		}

		.hexagono {
			position: absolute;
			bottom: -45px;
			left: 30%;
			
			@media screen and (max-width: 991px) {
				bottom: initial;
				top: -25px;
				right: -20px;
				left: initial;
			}
		}

		.image {
			img {
				position: absolute;
				bottom: -56px;
			}
			
			@media screen and (max-width: 991px) {
				display: none;
			}
		}
	}
}