.slider {
	position: relative;
	
    .slider-home {
		width: 100%;
		height: 500px;

		.swiper-slide {
			width: 100%;
			height: 100%;
			text-align: center;
			font-size: 18px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $branco;

			.slider-general {
				background-size: cover;
				background-color: #172511;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;

				.row-slider {
					align-items: center;

					.line-slider-text {
						display: flex;
						flex-direction: column;
						
						h1 {
							font-weight: 700;
							font-size: 46px;
							line-height: 56px;
							color: #F2FAEF;
							text-align: left;
							max-width: 663px;
							position: relative;
							margin-bottom: 32px;

							@media screen and (max-width: 767px) {
								max-width: 300px;
							}
	
							&:after {
								content: '';
								width: 100%;
								height: 8px;
								background-color: $primaria;
								position: absolute;
								bottom: -16px;
								border-radius: 15px;
								left: 0;
							}

							@media screen and (max-width: 767px) {
								font-size: 20px;
								line-height: 24px;
							}
						}
		
						P {
							font-weight: 500;
							font-size: 24px;
							line-height: 29px;
							color: #F2FAEF;
							text-align: left;
							max-width: 663px;

							@media screen and (max-width: 767px) {
								font-size: 14px;
								line-height: 17px;
							}
						}
					}

					.line-slider-image {
						display: flex;
						align-items: center;
						justify-content: center;

						img {
							max-width: 100%;
							width: 400px;
							height: auto;

							@media screen and (max-width: 767px) {
								width: 220px;
							}
						}
					}
				}

				&.slider-type-1 {
					.row-slider {
						@media screen and (max-width: 767px) {
							flex-direction: column-reverse;
						}
					
						.line-slider-text {
							align-items: start;
	
							h1 {
								text-align: left;
							}
			
							P {
								text-align: left;
							}
	
							@media screen and (max-width: 767px) {
								align-items: center;
		
								h1 {
									text-align: center;
								}
				
								P {
									text-align: center;
								}
							}
						}
						
						.line-slider-image {
							@media screen and (max-width: 767px) {
								margin-bottom: 30px;
							}
						}
					}
				}

				&.slider-type-2 {
					.line-slider-text {
						align-items: end;

						h1 {
							text-align: right;
						}
		
						P {
							text-align: right;
						}

						@media screen and (max-width: 767px) {
							align-items: center;
	
							h1 {
								text-align: center;
							}
			
							P {
								text-align: center;
							}
						}
					}
						
					.line-slider-image {
						@media screen and (max-width: 767px) {
							margin-bottom: 30px;
						}
					}
				}

				&.slider-type-3 {
					.line-slider-text {
						align-items: center;

						h1 {
							text-align: center;
						}
		
						P {
							text-align: center;
						}
					}
				}
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

    .slider-clients {
		margin-top: 48px;
		width: 100%;
		// height: 350px;
		background: #FFFFFF;
		box-shadow: 3px 10px 18px rgba(124, 216, 84, 0.35);
		// padding: 24px 32px;
		border-radius: 35px;

		.swiper-slide {
			text-align: center;
			font-size: 18px;
			background-color: $branco;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #172511;
		}
	}

    .slider-team {
		margin-top: 48px;
		width: 100%;
		// height: 350px;
		background: #FFFFFF;
		box-shadow: 3px 10px 18px rgba(124, 216, 84, 0.35);
		// padding: 24px 32px;
		border-radius: 35px;

		.swiper-slide {
			text-align: center;
			font-size: 18px;
			background-color: $branco;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #172511;
		}
	}
}

.swiper-pagination-bullets {
	padding: 24px 0;
	
	&.swiper-pagination-horizontal {
		position: relative;
		bottom: initial;
		top: initial;
		left: initial;
	}

	.swiper-pagination-bullet {
		background: #D9D9D9;
		width: 20px;
		height: 20px;
		opacity: 1;

		@media screen and (max-width: 767px) {
			width: 15px;
			height: 15px;
		}

		&.swiper-pagination-bullet-active {
			background: #7CD854;
		}
	}
}