.slider {
	position: relative;
	
    .slider-home, .slider-geral {
		width: 100%;
		height: 500px;

		@media screen and (max-width: 991px) {
			height: 550px;
		}

		.swiper-slide {
			width: 100%;
			height: 100%;
			text-align: center;
			font-size: 18px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $branco;

			.slider-general {
				background-size: cover;
				background-color: #172511;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;

				.row-slider {
					align-items: center;

					.line-slider-text {
						display: flex;
						flex-direction: column;
						
						h1 {
							font-weight: 700;
							font-size: 46px;
							line-height: 56px;
							color: #F2FAEF;
							text-align: left;
							max-width: 713px;
							position: relative;
							margin-bottom: 32px;

							@media screen and (max-width: 991px) {
								max-width: 100%;
							}
	
							&:after {
								content: '';
								width: 100%;
								height: 8px;
								background-color: $primaria;
								position: absolute;
								bottom: -16px;
								border-radius: 15px;
								left: 0;
							}

							@media screen and (max-width: 991px) {
								font-size: 20px;
								line-height: 24px;
							}
						}
		
						P {
							font-weight: 500;
							font-size: 24px;
							line-height: 29px;
							color: #F2FAEF;
							text-align: left;
							max-width: 713px;

							@media screen and (max-width: 991px) {
								font-size: 14px;
								line-height: 17px;
								max-width: 100%;
							}
						}
					}

					.line-slider-image {
						display: flex;
						align-items: center;
						justify-content: center;

						img {
							max-width: 100%;
							width: 400px;
							height: auto;

							@media screen and (max-width: 991px) {
								width: 250px;
								margin-bottom: 24px;
							}
						}
					}
				}

				&.slider-type-1 {
					.row-slider {
						@media screen and (max-width: 991px) {
							flex-direction: column-reverse;
						}
					
						.line-slider-text {
							align-items: start;
	
							h1 {
								text-align: left;
							}
			
							P {
								text-align: left;
							}
	
							@media screen and (max-width: 991px) {
								align-items: center;
		
								h1 {
									text-align: left;
								}
				
								P {
									text-align: left;
								}
							}
						}
						
						.line-slider-image {
							@media screen and (max-width: 991px) {
								margin-bottom: 30px;
							}
						}
					}
				}

				&.slider-type-2 {
					.line-slider-text {
						align-items: end;

						h1 {
							text-align: right;
						}
		
						P {
							text-align: right;
						}

						@media screen and (max-width: 991px) {
							align-items: center;
	
							h1 {
								text-align: left;
							}
			
							P {
								text-align: left;
							}
						}
					}
						
					.line-slider-image {
						@media screen and (max-width: 991px) {
							margin-bottom: 30px;
						}
					}
				}

				&.slider-type-3 {
					.line-slider-text {
						align-items: center;

						h1 {
							text-align: center;
						}
		
						P {
							text-align: center;
						}
					}
				}
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

    .slider-clients {
		margin-top: 48px;
		width: 100%;
		background: $branco;
		box-shadow: 3px 10px 18px rgba(124, 216, 84, 0.35);
		border-radius: 35px;

		.swiper-slide {
			text-align: center;
			font-size: 18px;
			background-color: $branco;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #172511;
		}
	}

    .slider-team {
		margin-top: 48px;
		width: 100%;
		background: #FFFFFF;
		box-shadow: 3px 10px 18px rgba(124, 216, 84, 0.35);
		border-radius: 35px;

		.swiper-slide {
			text-align: center;
			font-size: 18px;
			background-color: $branco;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #172511;
		}
	}

	.swiper-metodologia {
		background: transparent;
		
		@media screen and (max-width: 991px) {
			background-color: $branco;
			border-radius: 8px;
			padding: 16px;
		}

		&.swiper-backface-hidden .swiper-slide {
			transform: none !important;
			-webkit-backface-visibility: inherit !important;
			backface-visibility: inherit !important;
		}
	
		.swiper-wrapper {
			.swiper-slide {
				&:first-child {
					.box-conteudo {
						&::before {
							display: none;
						}
					}
				}

				&:last-child {
					.box-conteudo {
						&::after {
							display: none;
						}
					}
				}

				&.impar {
					.box-conteudo {
						&::before {
							content: '';
							position: absolute;
							background: rgba(150, 212, 129, 0.38);
							width: 250px;
							height: 20px;
							transform: rotate(155deg);
							top: 100px;
							left: -130px;
							z-index: -1;
							
							@media screen and (max-width: 1199px) {
								width: 200px;
								transform: rotate(150deg);
								top: 90px;
								left: -130px;
							}
							
							@media screen and (max-width: 991px) {
								display: none;
							}
						}
						
						&::after {
							content: "";
							position: absolute;
							background: rgba(150, 212, 129, 0.38);
							width: 250px;
							height: 20px;
							transform: rotate(385deg);
							top: 100px;
							right: -130px;
							z-index: -1;
							
							@media screen and (max-width: 1199px) {
								width: 250px;
								transform: rotate(390deg);
								top: 90px;
								right: -130px;
							}
							
							@media screen and (max-width: 991px) {
								display: none;
							}
						}
					}
				}
				
				&.par {
					margin-top: 100px;

					@media screen and (max-width: 991px) {
						margin: 0;
					}
				}
				
				.box-conteudo {
					.box-conteudo-imagem {
						img {
							max-width: 100%;
							position: relative;
							z-index: 1000;

							@media screen and (max-width: 991px) {
								position: initial;
							}
						}
					}

					.box-conteudo-texto {
						margin-top: -60px;

						@media screen and (max-width: 991px) {
							margin-top: -120px;
						}

						h5 {
							font-weight: 700;
							font-size: 28px;
							line-height: 34px;
							color: #0C1707;
							padding-bottom: 4px;
							margin-bottom: 8px;
							border-bottom: 4px solid #7CD854;
							max-width: 60%;

							@media screen and (max-width: 1199px) {
								word-break: break-all;
								font-size: 20px;
							}
						}

						p {
							font-weight: 500;
							font-size: 14px;
							line-height: 17px;
							color: #3D3D3D;
							margin: 0;							
						}
					}
				}
			}
		}
	}
}

.swiper{
	&.swiper-slider {
		margin-top: 24px;
		overflow: visible;

		.swiper-slide {
			.marca-dagua {
				box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.2);
			}
		}
	}

	&.swiper-team {
		width: 100%;
		height: 900px;
		margin-left: auto;
		margin-right: auto;

		@media screen and (max-width: 991px) {
			height: 500px;	
		}

		.swiper-slide {
			background: transparent;
			height: calc((100% - 90px) / 3) !important;
			display: flex;
			align-items: center;
			justify-content: center;

			@media screen and (max-width: 991px) {
				height: calc((100% - 60px) / 2) !important;
			}

			.flip-card {
				background-color: transparent;
				width: 450px;
				height: 250px;
				perspective: 1000px;

				@media screen and (max-width: 991px) {
					width: 300px;
					height: 300px;	
				}
				
				.flip-card-inner {
					position: relative;
					width: 100%;
					height: 100%;
					text-align: center;
					transition: transform 0.6s;
					transform-style: preserve-3d;
					backface-visibility: hidden;
					-moz-backface-visibility: hidden;
					
					.flip-card-front, .flip-card-back {
						position: absolute;
						width: 100%;
						height: 100%;
						backface-visibility: hidden;
						-moz-backface-visibility: hidden;
					}

					.flip-card-front {
						z-index: 2;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						padding: 24px;

						img {
							width: 105px;
							height: 105px;
							margin-bottom: 24px;

							@media screen and (max-width: 991px) {
								width: 60px;
								height: 60px;	
							}
						}

						h1 {
							font-weight: 700;
							font-size: 32px;
							line-height: 39px;
							color: #0C1707;

							@media screen and (max-width: 991px) {
								font-size: 16.8149px;
								line-height: 20px;
							}
						}
					}
				
					.flip-card-back {
						transform: rotateY(180deg);
						z-index: 1;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						padding: 24px;

						h1 {
							font-weight: 700;
							font-size: 32px;
							line-height: 39px;
							color: #0C1707;
							
							@media screen and (max-width: 991px) {
								font-size: 16.8149px;
								line-height: 20px;
							}
						}
						
						p {
							font-weight: 400;
							font-size: 16px;
							line-height: 19px;
							color: #000000;
							
							@media screen and (max-width: 991px) {
								font-size: 14px;
								line-height: 17px;
							}
						}
					}
				}

				&:hover, &:focus {
					.flip-card-inner {
						transform: rotateY(180deg);
					}
				}
				
				&:focus {
					outline: 0;
				}
			}
		}
	}

	&.swiper-values {
		width: 100%;
		height: 100%;
	}
}

.swiper-pagination-bullets {
	padding: 24px 0;
	
	&.swiper-pagination-horizontal {
		position: relative;
		bottom: initial;
		top: initial;
		left: initial;
	}

	.swiper-pagination-bullet {
		background: #D9D9D9;
		width: 20px;
		height: 20px;
		opacity: 1;

		@media screen and (max-width: 991px) {
			width: 15px;
			height: 15px;
		}

		&.swiper-pagination-bullet-active {
			background: #7CD854;
		}
	}
}