@import "mixins/_clearfix.scss";
@import "mixins/_colunas.scss";
@import "mixins/_vertical-align.scss";
@import "vendor/_font-face.scss";
@import "vendor/_variables.scss";
@import "vendor/bootstrap/bootstrap.scss";
@import "vendor/bootstrap/bootstrap-grid.scss";
@import "vendor/bootstrap/bootstrap-reboot.scss";
@import "vendor/bootstrap/bootstrap-utilities.scss";
@import "vendor/swiper/_swiper.scss";
@import "vendor/reset";
@import "vendor/color.scss";

@import "_modal-dialog.scss";
@import "_form.scss";
@import "_button.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_slider.scss";
@import "_main.scss";
@import "_timeline.scss";

body {
	font-family: 'Inter', Verdana, sans-serif;
}

.main {
	background-color: $secundaria;
}

.title {
	// Segundo design
	color: $terciaria;
	background: url("../images/icons/peach-icon.svg") left center no-repeat;
	background-size: 35px;
	padding-left: 45px;
	font-weight: 700;
	font-size: 42px;
	line-height: 51px;
	margin-bottom: 16px;

	// Minha opinião
	// color: #32704C;
    // background: url(../images/icons/peach-icon.svg) left center no-repeat;
    // background-size: 30px;
    // padding-left: 40px;
    // font-weight: 700;
    // font-size: 36px;
    // line-height: 41px;
    // margin-bottom: 16px;

	@media screen and (max-width: 991px) {
		font-size: 32px;
		line-height: 39px;
	}

	span {
		color: $primaria;
	}
}

.second-title {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	color: #386624;
	
	@media screen and (max-width: 991px) {
		font-size: 32px;
		line-height: 39px;
		margin-bottom: 24px;
	}
}

.box-border {
	// margin: 50px 0;
	background: #FFFFFF;
	box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.2), 0px -8px 0px #7CD854;
	border-radius: 16px;
	padding: 32px 24px;

	&.no-shadow {
		box-shadow: none
	}

	&.marca-dagua {
		background-image: url("../images/left-arrow.png"), url("../images/marca-dagua-peach.png");
		background-position: top 20px left, right bottom;
		background-repeat: no-repeat, no-repeat;
		background-size: 140px, 142px;

		@media screen and (max-width: 991px) {
			background-image: url("../images/left-arrow.png"), url("../images/marca-dagua-inteira.png");
			background-position: top 20px left, right center;
			background-size: 140px, 91px;
			margin-top: 50px;	
		}
	}

	.box-border-image {
		img {
			max-width: 100%;
			height: auto;
			width: 100%;

			&.max-300 {
				width: 300px;
			}

			@media screen and (max-width: 991px) {
				width: auto;
			}

			&.shadow {
				box-shadow: 4.647887229919434px 4.647887229919434px 18.591548919677734px 0px #00000033;
				border-radius: 25px;
			}
		}
	}

	.box-border-text {
		&.text-align {
			@media screen and (max-width: 991px) {
				text-align: center;
			}
		}

		h3 {
			font-weight: 500;
			font-size: 24px;
			line-height: 29px;
			color: #0C1707;
			margin-bottom: 8px;
		}

		h1 {
			font-weight: 700;
			font-size: 40px;
			line-height: 48px;
			color: #0C1707;
			margin-bottom: 24px;

			@media screen and (max-width: 991px) {
				font-size: 28px;
				line-height: 34px;
				text-align: left;
			}

			&.small {
				font-size: 32px;
				line-height: 39px;
				color: $preto;

				@media screen and (max-width: 991px) {
					font-size: 28px;
					line-height: 34px;
				}
			}
		}

		p {
			font-weight: 400;
			font-size: 24px;
			line-height: 29px;
			color: #0C1707;
			margin-bottom: 24px;

			@media screen and (max-width: 991px) {
				font-size: 16px;
				line-height: 19px;
				letter-spacing: 0.05em;
				margin-bottom: 12px;
			}

			&.small {
				font-size: 16px;
				line-height: 19px;
				color: $preto;

				@media screen and (max-width: 991px) {
					font-size: 14px;
					line-height: 17px;
					text-align: justify;
				}
			}
		}

		@media screen and (max-width: 991px) {
			.button {
				margin-bottom: 24px;
			}
		}
	}

	ul {
		font-size: 20px;
		margin-left: 0;
		list-style: none;

		li {
			background: url("../images/icons/peach-icon.svg") left center no-repeat;
			background-size: 25px;
			padding: 10px 0;
			padding-left: 40px;
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
			color: #3D3D3D;

			&.bigger {
				font-weight: 400;
				font-size: 24px;
				line-height: 29px;
				color: #3D3D3D;
			}

			@media screen and (max-width: 991px) {
				font-size: 14px;
				line-height: 17px;
				padding: 15px 0;
				padding-left: 40px;

				&.bigger {
					font-size: 16px;
					line-height: 19px;
				}
			}
		}
	}

	.text-md-end {
		ul {
			li {
				background: url("../images/icons/peach-icon.svg") right center no-repeat;
				background-size: 25px;
				padding: 10px 0;
				padding-left: 0;
				padding-right: 40px;
				
				@media screen and (max-width: 991px) {
					background: url("../images/icons/peach-icon.svg") left center no-repeat;
					background-size: 25px;
					padding: 15px 0;
					padding-left: 40px;
					padding-right: 0;
				}
			}
		}
	}
	
	.bigger {
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		color: #3D3D3D;

		@media screen and (max-width: 991px) {
			font-size: 16px;
			line-height: 19px;
		}
	}
}

.row {
	&.mobile-invert {
		@media screen and (max-width: 991px) {
			flex-direction: column-reverse;
		}
	}
}

.box-border-values {
	background: $branco;
	border-radius: 24px;
	padding: 30px 16px;
	margin-bottom: 24px;
	// height: 200px;

	@media screen and (max-width: 991px) {	
		height: 290px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&:last-of-type {
		@media screen and (min-width: 992px) {	
			margin-bottom: 0;	
		}
	}

	&.box-border-full {
		background: #386624;
		color: #F2FAEF;
	}
	
	&.box-border-green {
		border-left: 14px solid #386624;
		color: $preto;
	}

	h2 {
		font-weight: 700;
		font-size: 36px;
		line-height: 44px;
		margin-bottom: 15px;
	}

	p {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
	}
}

.vertical-align {
	display: flex;
	align-items: center;

	&.right {
		justify-content: flex-end;
	}

	&.left {
		justify-content: flex-start;
	}

	&.center {
		justify-content: center;
	}

	&.mob-center {
		@media screen and (max-width: 991px) {
			justify-content: center;
		}
	}
}

.desktop {
	display: block !important;

	@media screen and (max-width: 991px) {
		display: none !important;
	}
}

.mobile {
	display: none !important;

	@media screen and (max-width: 991px) {
		display: block !important;
	}
}

input[type="file"] {
    display: none;
}

.label-file {
    padding: 10px;
    width: 50px;
    color: #7CD854;
    text-transform: uppercase;
    text-align: center;
    display: block;
    cursor: pointer;
    margin-right: 24px;
}

.mt-50 {
	margin-top: 50px;
}

.pt-50 {
	padding-top: 50px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-8 {
	margin-bottom: 8px !important;
}

.mobile-mt-50 {
	@media screen and (max-width: 991px) {
		margin-top: 50px;
	}
}

.mobile-mt-25 {
	@media screen and (max-width: 991px) {
		margin-top: 25px;
	}
}

.mobile-pb-0 {
	@media screen and (max-width: 991px) {
		padding-bottom: 0 !important;
	}
}

.row-margin-adjust {
	@media screen and (min-width: 992px) {
		margin-right: -30px;
	}
}